
/* ////////////////////////////////////////
             footer
//////////////////////////////////////// */
main{
    border-bottom:1px solid #37332a
  }
  
  
  
  footer{
    justify-content : space-between;
    
    padding: 60px 0;
    background-color:#0c0b09
  }
  
  footer .site-address{
    flex-basis: 19%;
  }
  
  footer .site-address h2{
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size:24px;
    padding-bottom:20px;
  }
  
  footer .site-address p{
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    padding-bottom:15px;
  }
  
  footer p.site-address-phone{
    padding-bottom: 0;
    margin: 0;
  }
  
  footer p.site-address-email{
    padding-top: 4px;
    margin: 0;
    padding-bottom: 24px;
  }
  
  footer .site-address .social-icons{
    width: 100%;
    gap:10px;
  }
  
  footer .site-address .social-icons .social-icon{
    background-color: #28251f;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    padding:6px;
    
  }
  
  footer .site-address .social-icons .social-icon:hover{
    background-color: #cda45e;
  }
  
  footer .site-address .social-icons .social-icon i{
    color: white !important;
  }
  
   .site-links{
    flex-basis: 30%;
    gap: 50px;
  }
  
  .site-links .links-group{
    flex-direction: column;
   
  }
  
  .site-links h3{
    font-family: 'Playfair Display', serif;
    font-size:16px;
    padding-bottom: 25px;
  }
  
  .site-links div a{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }
  
  .site-links div i{
    color: #cda45e;
    padding: 0 8px 0 4px;
    margin-bottom:20px;
  }
  
  .news-letter{
    flex-basis: 35%;
  }
  
  .news-letter h3{
    font-family: 'Playfair Display', serif;
    font-size:16px;
    padding-bottom: 25px;
  }
  
  .news-letter p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding-bottom:15px;
  }
  .news-letter form{
    position: relative;
  }
  
  .news-letter form button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 37%;
    margin: 0;
  }
  
  
  .news-letter input{
    float: left;
    width: 94%;
    margin-right: 0;
    padding: 14px 10px;
    border: 1px solid #625b4b;
    font-size: 14px;
    background-color:#28251f;
    color: #fff;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .news-letter input:hover, .news-letter input:focus {
    border-color: #cda45e;
    outline: #cda45e;
    transition: all 0.3s ease-in-out;
  }
  
  .copyright{
    padding: 20px 0;
    
    text-align: center;
    border-top:1px solid #37332a;
    background-color: black
  }
  
  .copyright p{
    font-size: 14px;
  }
  
  