   /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html, body {
    font-family: "Open Sans", sans-serif;
    background: #0c0b09;
    color: #fff;
    height:100%;
    margin: 0 auto;
  }

  .float-left{
    float: left;
  }

  .float-right{
    float: right;
  }

  .flex{
    display: flex;
  }

  .full-page{
    height: 100vh;
  }

  .italic{
    font-style: italic;
  }


  .container{
    width: 85%;
    margin: 0 auto;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }

  a.active {
    color: #cda45e;
    text-decoration: none;
  }


  
  a:hover {
    color: #d9ba85;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

 .transparent-button{
    font-size: 14px;
    color: white;
    background-color: transparent;
    border: 2px solid #cda45e;
    border-radius: 50px ;
    text-align: center;
    height: 40px;
    align-self: center;
    padding: 0px 28px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.transparent-button:hover {
  background-color: #cda45e;
}



@keyframes scaling-outline {
    0% {
      border: 2px solid #cda45e;
      transform: scale(1);
      opacity: 1;
    }

   50%{
      border: 3px solid #cda45e;
      transform: scale(1.38);
      opacity: 0;
    }

    100%{
        border: 2px solid #cda45e;
        transform: scale(1.38);
        opacity: 0;
    }
  }
